<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- fine link google font -->
    <!-- link font awasome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- fine link font awasome -->
    <link rel="stylesheet" href="style.css" />
    <title>PHP ToDo List JSON copia</title>
  </head>
  <body>
    <div id="app">
      <div class="main">
        <div class="containerList">
          <div class="title">
            <h1>Todo List</h1>
          </div>
          <div class="todoList">
            <ul>
              <li
                v-for="(singletask, index) in lista"
                :class="{'completato' : singletask.done}"
              >
                <h3 @click="changeDone(index)">{{ singletask.text }}</h3>
                <span class="bidone" @click="deleteTask(index)"
                  ><i class="icon fa-regular fa-trash-can"></i
                ></span>
              </li>
            </ul>
          </div>
          <form
            class="formMemo"
            action="create.php"
            method="POST"
            @submit.prevent="addNewTask()"
          >
            <label for="memo"></label>
            <input
              type="text"
              name="memo"
              id="memo"
              v-model="newTask"
              placeholder="Inserisci elemento..."
              required
            />
            <button type="submit">Inserisci</button>
          </form>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
